@model Employee
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "_Layout";
	ViewBag.Title = "Create";
	ViewBag.link = "Index";
}
<body>
	<main>
		<form asp-controller="Employees" asp-action="Add">
			<div>
				<label asp-for="Name"></label>
				<span asp-validation-for="Name"></span>
				<input asp-for="Name">
			</div> <br />

			<div>
				<label asp-for="Email">Email</label>
				<span asp-validation-for="Email"></span>
				<input asp-for="Email">
			</div>
			@*<div asp-validation-summary=""></div>*@
			<button>Lägg till anställd</button>
		</form>
		

	</main>
</body>
@section scripts {
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}