@{
	Layout = "_Layout";
}

@model Employee
<body>
	<main>
		<h2>Anställd</h2>
		<div>
		 @Model.Name 
		 @Model.Details
		 <h2>@Model.Name</h2>
		</div>
		<a asp-controller ="Employees" asp-action="Index">gå tillbaka</a>
		
	</main>
</body>

