@model Employee
@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Employees </title>
	<link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
	<main>
		<h2>Anställd</h2>
		
		 @Model.Name
		 <div>@Model.Details</div>

		<a asp-controller ="Employees" asp-action="Index">gå tillbaka</a>
		
	</main>
</body>
</html>
