@model Employee[]
@{
	Layout = "_Layout";
	ViewBag.Title = "Index";
	ViewBag.link = "Create";
}

<body>
	<main>
		<ul>
			@foreach (var Employee in Model)
			{
				<li>
					<a asp-controller="Employees" asp-action="Details" asp-route-id="@Employee.Id">
					@Employee.Name 
					<br/>
					@Employee.Email
					<br/>
					</a>
				</li>
			}
		</ul>

			
	</main>
</body>


